.search-results-cont {
    .btn-success {
        background-color: #38c172 !important;
        border-color: #38c172 !important;
    }
    padding-top: 50px;
    .search-results {
        .track-cont {
            padding: 20px;
            .track {
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}