<template>
    <ul class="list-group">
        <li v-for="playlist in playlists" class="list-group-item"><h3 class="d-inline-block">{{ playlist.name }}</h3> 
            <button @click="setPlaylist(playlist)" :class="{
                'btn-success': playlist === activePlaylist || playlist.id === preSetId,
                'btn-primary': playlist !== activePlaylist && playlist !== loadingPlaylist,
                'btn-warning': playlist === loadingPlaylist
                }" class="btn float-right">
                <span :class="{
                    'd-inline': playlist !== activePlaylist && playlist !== loadingPlaylist && playlist.id !== preSetId,
                    'd-none': playlist === activePlaylist || playlist === loadingPlaylist || playlist.id === preSetId
                    }
                    ">Set</span>
                <i class="fa" :class="{
                    'd-none': playlist !== activePlaylist && playlist !== loadingPlaylist && playlist.id !== preSetId,
                    'fa-spinner fa-pulse': playlist === loadingPlaylist,
                    'fa-check': playlist === activePlaylist || playlist.id === preSetId
                }"></i>
            </button>
        </li>
    </ul>
</template>
<script>
export default {
    props: [
        'playlists',
        'preSet'
    ],
    data() {
        return {
            activePlaylist: null,
            loadingPlaylist: null,
            preSetId: this.preSet,
        }
    },
    methods: {
        setPlaylist(playlist) {
            self = this;
            self.loadingPlaylist = playlist;
            self.activePlaylist = playlist;
            self.preSetId = null;
            // setTimeout(function() {
            //     self.activePlaylist = playlist;
            //     self.loadingPlaylist = null;
            // },3000);
            axios
            .post('api/playlist/set', {
                id: playlist.id
            })
            .then(function (response) {
                self.activePlaylist = playlist;
                self.loadingPlaylist = null;
            });
        }
    }
}
</script>
