<template>
<div class="row search-results-cont justify-content-center">
    <div v-if="results" class="col-md-12">
        <div class="row search-results">
            <div v-for="result in results" :result="result.id" class="track-cont col-sm-12 col-md-6 col-lg-4">
                <div class="track d-flex justify-content-between align-items-center">
                    <div class="image w-30">
                        <img v-if="result.album.images[1]" :src="result.album.images[1].url" alt="">
                        <img v-else src="https://placedog.net/300/300" alt="">
                    </div>
                    <div class="details w-60">
                        <p class="mb-0">
                            <span class="title"><b>{{result.name}}</b></span><br/>
                            <span class="artist">{{result.artists[0].name}}</span><br/>
                            <span class="album">{{result.album.name}}</span><br/>
                            <button type="" @click="addTrack(result)" :class="{
                                'btn-primary': loadedTrack != result && loadingTrack != result,
                                'btn-success': loadedTrack == result,
                                'btn-warning': loadingTrack == result
                            }" class="btn">
                            <i class="fa" :class="{
                                'fa-plus': loadedTrack != result && loadingTrack != result,
                                'fa-check': loadedTrack == result,
                                'fa-spinner fa-pulse': loadingTrack == result
                            }"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="loading" class="col-md-8 text-center search-results">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
    <div v-if="noResults" class="col-md-8 text-center search-results">
        <p>No Results Found.</p>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            results: null,
            loading: false,
            noResults: false,
            loadingTrack: null,
            loadedTrack: null
        }
    },
    methods: {
        addTrack(track) {
            self = this;
            track.processing = true;
            self.loadingTrack = track;
            axios
            .post('api/spotify/add', {
                trackId: track.id
            })
            .then(function (response) {
                track.processing = false;
                track.added = true;
                self.loadingTrack = null
                self.loadedTrack = track;
            });
        }
    },
    created() {
        var self = this;
        this.$vueEventBus.$on('querySubmitted', function(query) {
            self.results = null;
            self.loading = true;
            self.noResults = false;
            axios
            .get('api/spotify/search',{
                params: {
                    search: query
                }
            })
            .then(response => {
                if (response.data.tracks.items.length) {
                    self.results = response.data.tracks.items;
                } else {
                    self.noResults = true;
                }
                self.loading = false;
            });
        });
    }
}
</script>


