<template>
    <form @submit.prevent="submit" id="search-form">
        <div class="input-group">
            <input v-model="query" type="text" name="seach" id="search" class="form-control" placeholder="Sick Beats">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </div>
    </form>
</template>
<script>
export default {
    data() {
        return {
            query: '',
            errors: {},
            items: {},
        }
    },
    methods: {
        submit() {
            this.errors = {};
            this.$vueEventBus.$emit('querySubmitted',this.query);
            // axios.get("api/spotify/search",{
            //     params: {
            //         search: this.fields.search
            //     }
            // }).then(response => {
            //     console.log(response);
            //     Vue.set(that.$data,'items',response.data.tracks.items)
            // }).catch(error => {
            //     this.errors = error.response.data.errors || {};
            // });
        }
    }
}
</script>

